.places {
    margin: 0;
    text-align: center;
}

.places h1{
    font-size: 30px;
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 0;
    padding-right: 0;

}

.multiple-place1, .multiple-place2, .multiple-place3 {
    width: 390px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    position: relative;
}

.places h2{
    font-size: 30px;
    text-align: center;

}